<!-- Header -->
<header class="header header-page">
  <div class="header-fixed">
    <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
      <div class="container header-border">
        <div class="navbar-header">
          <a id="mobile_btn" href="javascript:void(0);">
									<span class="bar-icon">
										<span></span>
										<span></span>
										<span></span>
									</span>
          </a>
          <a [routerLink]="['/front']" class="navbar-brand logo">
            <img src="../../../assets/img/logo.svg" class="img-fluid" alt="Logo">
          </a>
        </div>
        <div class="main-menu-wrapper">
          <div class="menu-header">
            <a [routerLink]="['/front']" class="menu-logo">
              <img src="../../../assets/img/logo.svg" class="img-fluid" alt="Logo">
            </a>
            <a id="menu_close" class="menu-close" href="javascript:void(0);">
              <i class="fas fa-times"></i>
            </a>
          </div>
          <ul class="main-nav">
            <li class="has-submenu">
              <a href="#">Home <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a [routerLink]="['/front']" >Home</a></li>
<!--                <li><a href="index-two.html">Home Two</a></li>-->
<!--                <li><a href="index-three.html">Home Three</a></li>-->
<!--                <li><a href="index-four.html">Home Four</a></li>-->
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">Instructor <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="#">Dashboard</a></li>
                <li class="has-submenu">
                  <a href="#">Instructor</a>
                  <ul class="submenu">
                    <li><a href="#">List</a></li>
                    <li><a href="#">Grid</a></li>
                  </ul>
                </li>

                <li><a href="#">Linked Accounts</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">Student <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu first-submenu">
                <li class="has-submenu ">
                  <a href="students-list.html">Student</a>
                  <ul class="submenu">
                    <li><a href="students-list.html">List</a></li>
                    <li><a href="students-grid.html">Grid</a></li>
                  </ul>
                </li>
                         <li><a href="setting-support-tickets.html">Support Tickets</a></li>
              </ul>
            </li>
            <li class="has-submenu active">
              <a href="#">Pages <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">

                <li class="has-submenu">
                  <a href="come-soon.html">Error</a>
                  <ul class="submenu">
                    <li><a href="come-soon.html">Comeing soon</a></li>
                      </ul>
                </li>
                </ul>
            </li>
            <li class="has-submenu">
              <a href="#">Blog <i class="fas fa-chevron-down"></i></a>
              <ul class="submenu">
                <li><a href="blog-list.html">Blog List</a></li>
                  <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="login-link">
              <a [routerLink]="['/register']">Login / Signup</a>
            </li>
          </ul>
        </div>
        <ul class="nav header-navbar-rht">
          <li class="nav-item">
            <a class="nav-link header-sign" [routerLink]="['/login']">Signin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-login" [routerLink]="['/register']">Signup</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- /Header -->

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="breadcrumb-list">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/front']">Home</a></li>
              <li class="breadcrumb-item" aria-current="page">Pages</li>
              <li class="breadcrumb-item" aria-current="page">Wishlists</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
