

<!-- Main Wrapper -->
<div class="main-wrapper">

 <app-navbar2></app-navbar2>
  <!-- /Breadcrumb -->

  <!-- Blog Details -->
  <section class="course-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-12">

          <!-- Blog Post -->
          <div class="blog">
            <div class="blog-image">
              <a href="blog-details.html"><img class="img-fluid" src="assets/img/blog-banner.jpg" alt="Post Image"></a>
            </div>
            <div class="blog-info clearfix">
              <div class="post-left">
                <ul>
                  <li>
                    <div class="post-author">
                      <a href="instructor-profile.html">
                        <!-- Vous pouvez utiliser la propriété auteur de l'article ici -->
                        <img src="../../../assets/img/user/user.jpg" alt="Post Author"> <span>{{ article?.auteur }}</span>
                      </a>
                    </div>
                  </li>
                  <!-- Utilisez la propriété date de l'article ici -->
                  <li><img class="img-fluid" src="../../../assets/img/icon/icon-22.svg" alt="">{{ article?.date | date }}</li>
                </ul>
              </div>
            </div>
            <!-- Utilisez la propriété titre de l'article ici -->
            <h3 class="blog-title">{{ article?.titre }}</h3>
            <div class="blog-content">
              <!-- Utilisez la propriété contenu de l'article ici -->
              <p>{{ article?.contenu }}</p>
            </div>
          </div>
          <!-- /Blog Post -->

        </div>

        <!-- Blog Sidebar -->
        <div class="col-lg-3 col-md-12 sidebar-right theiaStickySidebar">

          <!-- Tags -->
          <div class="card tags-widget blog-widget tags-card">
            <div class="card-header">
              <h4 class="card-title">Latest Tags</h4>
            </div>
            <div class="card-body">
              <ul class="tags">
                <li><a href="javascript:void(0);" class="tag">HTML</a></li>
                <li><a href="javascript:void(0);" class="tag">Java Script</a></li>
                <li><a href="javascript:void(0);" class="tag">Css</a></li>
                <li><a href="javascript:void(0);" class="tag">Jquery</a></li>
                <li><a href="javascript:void(0);" class="tag">Java</a></li>
                <li><a href="javascript:void(0);" class="tag">React</a></li>
              </ul>
            </div>
          </div>          <!-- /Tags -->

        </div>
        <!-- /Blog Sidebar -->

      </div>
    </div>
  </section>
  <!-- /Blog Details -->

  <!-- Footer -->
  <!-- /Footer -->

</div>
